---
import Layout from "@layouts/Layout.astro";
import { getEntry } from "astro:content";
import Container from "@components/Container.astro";

const cv = await getEntry({ collection: "cv", slug: "index" });
const { education, researchExperience, industryExperience, publications, reviewServices, references } = cv.data; // Assuming these fields exist in your markdown frontmatter
---

<Layout title="CV" description="Curriculum Vitae">
  <Container>

    <article class="prose dark:prose-dark grid grid-cols-1 md:grid-cols-[max-content_1fr] gap-x-4 gap-y-2">

      <div class="text-2xl font-semibold mt-2 col-start-2">Summary</div>
      <div class="text-sm col-start-2">{cv.data.summary}</div>
      <div class="flex flex-wrap gap-x-4 col-start-2 mt-2">
        {cv.data.links.map((link: { name: string, icon: string, text: string, url: string }) => (
          <div class="flex items-center space-x-2 mt-1">
            <i class={`fab fa-${link.icon} `}></i>
            <a href={link.url} class="text-sm text-blue-500 hover:underline">{link.text}</a>
          </div>
        ))}
      </div>

      <hr class="col-start-2 m-4" />

      <div class="text-2xl font-semibold mt-2 col-start-2">Education</div>
      {education.map((edu: any) => (
        <>
          <div class="flex text-xs flex-col text-right justify-start items-center pt-1.5">
            <div>{edu.endYear}</div>
            <div> | </div>
            <div>{edu.startYear}</div>
          </div>
          <div>
          <div class="font-semibold">{edu.degree}</div>
            <div class="text-sm col-start-2">{edu.institution}</div>
            <div class="text-sm col-start-2 text-gray-400">{edu.description1}</div>
            <div class="text-sm col-start-2 text-gray-400">{edu.description2}</div>
          </div>
        </>
      ))}

      <div class="text-2xl font-semibold mt-2 col-start-2">Research Experience</div>
      {researchExperience.map((exp: any) => (
        <>
          <div class="flex text-xs flex-col text-right justify-start items-center pt-1.5">
            <div>{exp.endYear}</div>
            <div> | </div>
            <div>{exp.startYear}</div>
          </div>
          <div>
            <div class="font-semibold">{exp.position}</div>
            <div class="text-sm col-start-2">{exp.company}</div>
            <div class="text-sm col-start-2 text-gray-400">{exp.description}</div>
          </div>
        </>
      ))}

      <div class="text-2xl font-semibold mt-2 col-start-2">Industry Experience</div>
      {industryExperience.map((exp: any) => (
        <>
          <div class="flex text-xs flex-col text-right justify-start items-center pt-1.5">
            <div>{exp.endYear}</div>
            <div> | </div>
            <div>{exp.startYear}</div>
          </div>
          <div>
            <div class="font-semibold">{exp.position}</div>
            <div class="text-sm col-start-2">{exp.company}</div>
            <div class="text-sm col-start-2 text-gray-400">{exp.description}</div>
          </div>
        </>
      ))}

      <div class="text-2xl font-semibold mt-2 col-start-2">Publications</div>
      {publications.map((pub: any) => (
        <>
          <div class="flex flex-col text-right justify-start items-center pt-1.5">
            <div class="text-xs">{pub.year}</div>
          </div>
          <div class="text-sm col-start-2">
            <div class="font-semibold">{pub.title}</div>
            <div class="text-xs italic">{pub.authors}</div>
            <div class="text-xs">{pub.journal}</div>
            <div class="text-xs">
              {pub.paperLink && (
                <a href={pub.paperLink} class="inline-block text-xs mr-2 px-1.5 py-0.5 rounded bg-blue-100 dark:bg-blue-900">📄 Paper</a>
              )}
              {pub.talkLink && (
                <a href={pub.talkLink} class="inline-block text-xs mr-2 px-1.5 py-0.5 rounded bg-blue-100 dark:bg-blue-900">🎥 Talk</a>
              )}
              {pub.codeLink && (
                <a href={pub.codeLink} class="inline-block text-xs mr-2 px-1.5 py-0.5 rounded bg-blue-100 dark:bg-blue-900">💻 Code</a>
              )}
              {pub.doi && (
                <a href={`https://doi.org/${pub.doi}`} class="inline-block text-xs mr-2 px-1.5 py-0.5 rounded bg-blue-100 dark:bg-blue-900">🔗 DOI</a>
              )}
              {pub.bibtex && (
                <details class="inline-block">
                  <summary class="text-xs mr-2 px-1.5 py-0.5 rounded bg-blue-100 dark:bg-blue-900"> BibTeX</summary>
                  <div class="text-xs absolute rounded w-[calc(100%-1fr)] left-1/2 transform -translate-x-1/2">
                    <pre class=" bg-slate-200 text-gray-600">{pub.bibtex}</pre>
                  </div>
                </details>
              )}
            </div>
          </div>
        </>
      ))}

      <div class="text-2xl font-semibold mt-2 col-start-2">Services</div>
          <div class=" col-start-2">
            <div class="font-semibold">Reviewer</div>
            {reviewServices.map((service: any) => (
              <div class="text-sm">{service.journal}</div>
            ))}
      </div>

      <div class="text-2xl font-semibold mt-2 col-start-2">References</div>
      {references.map((ref: any) => (
        <div class="col-start-2">
          <div class="font-semibold">{ref.name}</div>
          <div class="text-sm">{ref.title}</div>
          <div class="text-sm">{ref.affiliation}</div>
          <div class="text-sm"><a href={ref.link}>{ref.link}</a></div>
        </div>
      ))}
    </article>
  </Container>
</Layout>